.register-wrapper form{
    text-align: center;
    border-bottom: 1px solid black;
}

.register-wrapper h1{
    text-align: center;
}

.register-wrapper form label p{
    text-align: center;
}

.register-wrapper .register-label {
    font-size: 20px;
}

.register-btn{
    text-align: center;
}